*.csv

## Model weights too much with 8mio. params. datasize is ~101mb. 
/Simpsons/model/intermediate.h5

*dataset.h5
*labels.h5

## SVHN-data
*mat

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.
# mkdocs documentation
/site

# mypy
.mypy_cache/
.vscode/
